h1{
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body{
    background-image: url(https://c.pxhere.com/images/d5/b7/da66f2af52fd8e12f0f5e0be0d77-1587093.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 150px;
    height: 150px;
    margin: 3%;
    border: blue 3px solid;
    border-radius: 10px;
    transition: 1s;
}


img:hover{
    width: 200px;
    height: 200px;
    margin: 3%;
    border: rgb(255, 0, 98) 6px solid;
    border-radius: 50px 80px 50px 80px;
    transition: 500ms;
}
li{
    font-size: 20px ;
    display: inline;
    margin: 3%;
}

li:hover{
    background-color: #fcfcfc;
    font-size:22px;
}

ul{
    background-color: cornflowerblue;
}

hr{
    size: 7;
    color: black;
}

p{
    font-size: 23px; 

    text-align: center;
}

main{
    margin-left: 16%;
}

iframe{
    margin-left: 33%;

    width: 400px;
    height: 150px;
}

footer{
    background-color: rgb(11, 135, 192);
    height: 40px;
}